* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: darkslategrey;
    color: lightblue;
    display: flex;
    flex-direction: row;
    /* alignment along the main axis */
    justify-content: center;
	/* alignment along the cross axis */
    align-items: flex-start;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    color: lightblue;
    font-size: 8vh;
    margin: auto;
    flex: none;
    height: 10vh;
}

tic-tac-toe:unresolved {
	opacity: 0;
}

tic-tac-toe {
    margin: auto;
    flex: none;
    width: 90vmin;
    height: 90vmin;
	opacity: 0.8;
	transition: opacity 300ms;
}
